body,
html {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

/* Main Feature - Navigation Bar */
nav {
  padding: 1.4rem 0.4rem 1.6rem 0;
  gap: 5px;
}

nav,
.nav-inner {
  display: flex;
}

.nav-inner {
  width: 100%;
  margin: 5px;
  justify-content: center;
  gap: 0.5rem;
}

#color-scheme-mood,
button {
  border-radius: 10px;
}

input,
#color-scheme-mood,
button {
  cursor: pointer;
  height: 2.125rem;
}

input {
  border: none;
}

button {
  font-size: 0.75rem;
  text-decoration: underline;
  background: white;
  border: 1px #a9a9a9 solid;
}

button:hover {
  background: rgb(154, 49, 211);
  color: white;
}

/* Color Display */
#main-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0;
  margin-top: 1rem;
  height: 300px;
  text-align: center;
}

.color-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-box {
  width: 100%;
  height: 250px;
}

.hex-code {
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 0.9rem;
}

/* Responsive Layout */
@media (min-width: 768px) {
  .nav-inner {
    gap: 1.7rem;
  }

  input {
    height: 3rem;
    width: 4rem;
  }

  #color-scheme-mood {
    height: 3rem;
    margin-right: 1rem;
  }

  button {
    font-size: 1rem;
    padding: 0.7rem 1rem;
  }

  .color-wrapper {
    height: 560px;
  }

  .color-box {
    height: 500px;
  }

  .hex-code {
    padding-top: 0.8rem;
    font-size: 1.4rem;
  }
}
